{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - ubicacion List 
{% endblock %}

{% block body %}


<div class="row">    
<div class="col-md-3 pull-left">
        
    <!-- PAGE SIZE -->
    <div class="pagination form-inline ">
        <select class = "form-control"  onchange="window.location = this.value" >
            <option value='{{ path('ubicacion', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
            <option value='{{ path('ubicacion', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
            <option value='{{ path('ubicacion', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
            <option value='{{ path('ubicacion', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
            <option value='{{ path('ubicacion', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
        </select>
    </div>
    <!-- END PAGE SIZE -->

</div>


<!-- FILTERING -->
<div class="col-md-6">
    <form action="{{ path('ubicacion') }}" method="get" >

        <div class="input-group mb-3">

            {{form_widget(filterForm.search, { 'attr': {'class': 'form-control'} })}}
            {{form_rest(filterForm) }}

            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
    </form>
</div>
<!-- END FILTERING -->            
            
            

<div class="col-md-3">
            <a class="btn btn-primary h3 float-right" href="{{ path('ubicacion_new') }}" style="margin-bottom:10px">
            <i class="fas fa-plus"></i> Nuevo
        </a>
    </div>

    <div class="col-md-12">
        {%- if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
    </div>

</div> <!-- /#top -->


<div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

<!--<div class="row"> -->

                <form method="POST" id="bulk_form" action="{{ path('ubicacion_bulk_action') }} ">
			<div class="card mb-4 mt-4">	
            <table class="table table-striped table-hover table-sm" id="tabla" namefile="Ubicacion">
                <thead>
                    <tr>
                        

                {% import "@PetkoparaCrudGenerator/macros/th_sortable.html.twig" as macros %}
                            <th style="border:0px;">{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'ubicacion','id')}}</th>
                            <th style="border:0px;">{{macros.th_sortable('descripcion',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'ubicacion','descripcion')}}</th>
    
                       
                        <th style="border:0px;" width = "130px" class="noExl">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ubicacion in ubicacions %}
                    <tr>
                        
                        <td>{{ ubicacion.id }}</td>
                        <td>{{ ubicacion.descripcion }}</td>
    
                        <td class="actions  noExl"><!-- Extra small button group -->
<div class="btn-group">
    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Opciones <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
        		<a class="dropdown-item" title='Vista Previa' href="{{ path('ubicacion_show', { 'id': ubicacion.id }) }}">
            Vista Previa
		</a>
                
        		<a  class="dropdown-item" title='Editar'  href="{{ path('ubicacion_edit', { 'id': ubicacion.id }) }}">
            Editar
		</a>
                                

        		<a  class="dropdown-item" onclick="return confirm('Seguro desea Eliminar!');" title="Delete" href="{{ path('ubicacion_by_id_delete', { 'id': ubicacion.id}) }}">
            Eliminar
		</a>
            </div>
</div>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div> <!-- card -->
        </form>


        <!--</div>  /#list -->




<div class="row">
    <div class="col-md-4 pull-left">
		<!-- /#Exportar Datos -->
        <div class="dropdown dropup">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos
            <span class="caret"></span></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="exportToExcel()" href="#"><img src="{{ asset('images/icons/xls.png') }}" width="24"> Excel</a>
            </div>
        </div>
        <!-- /#Exportar Datos -->
    </div>
    
    <div class='col-md-3 text-center'>
         <p>{{totalOfRecordsString}}</p>
    </div>
 
    <div class="col-md-5">
		<div class="float-right">
         {{ pagerHtml|raw }} 
		</div>
    </div>
</div> <!-- /#bottom -->



{% endblock %}

{% block javascript %}
	{{ parent()}}
    <script type="text/javascript" src=" {{ asset('js/jquery.table2excel.js') }}"></script>
{% endblock %} 